
/**
* Hi curious student! :)
* This a CSS Trick to keep the footer at the bottom.
* Find out more modern CSS tricks at:
* https://moderncss.dev/
*/
#__next {
   min-height: 100vh;
   display: grid;
   grid-template-rows: auto 1fr auto;
 }
 #__next > main {
   margin: 1rem auto 0;
   max-width: 80ch;
 }